@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.gamefinish {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 80vh;
  width: 500px;
  margin-top: 100px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  padding: 30px;
  border-radius: 20px;
  background-color: white;
  position: relative;
}

.gamefinish__header {
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  margin: 0px auto;
  font-family: "Pacifico";
}
.gamefinish__winners {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
  flex-wrap: wrap;
  width: 100%;
}
.gamefinish__winners > h3 {
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  padding: 5px;
  flex: 100%;
  text-align: left;
  font-family: "Pacifico";
}
.gamefinish__winner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.gamefinish__winner > img {
  height: 80px;
  width: 80px;
  margin-top: 10px;
}
.gamefinish__winner > span {
  font-size: 12px;
  font-weight: bold;
  color: black;
  border: 1px solid black;
  padding: 3px 7px;
  margin-top: 5px;
  border-radius: 7px;
  width: 120px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  background-color: white;
}
.gamefinish_nextround {
  background-color: #c0ceba;
  font-size: 16px;
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  margin: 0px auto;
  margin-top: 10px;
  user-select: none;
  outline: none;
  border: none;
}
.gamefinish_nextround:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.gamefinish_nextround:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}
.gamefinish__winnerAdmin {
  font-size: 12px;
  font-weight: bold;
  color: #5f6a75;
  border: 2px solid rgb(236, 236, 236);
  border-radius: 10px;
  padding: 3px 5px;
  position: absolute;
  background-color: white;
  left: 10%;
  top: 0;
}
.gamefinish__note {
  margin: 0px auto;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
}
