.inputbox {
  display: flex;
  align-items: center;
  border: 1px solid #cbd5e0;
  margin: 10px 0px;
  border-radius: 5px;
  transition: ease-in 100ms;
  box-sizing: content-box;
}
.inputbox > input {
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
  padding: 10px;
  color: #757980;
  font-size: 16px;
  box-sizing: content-box;
}
.inputbox:has(input:focus) {
  box-shadow: rgb(51, 137, 235) 0px 0px 0px 2px;
}
.inputbox > input::placeholder {
  color: #a1adbf;
}
.inputbox__icon {
  color: #a1adbf;
  margin-left: 5px;
}
