.playedcardsgroup {
  display: flex;
  justify-content: center;
  align-items: center;
}
.playedcardsgroup__playedBy .MuiAvatar-root,
.playedcardsgroup__playedBy .playeravatar img {
  height: 8vh !important;
  width: fit-content;
  transition: ease-in-out 100ms;
}

.playedcardsgroup__playedBy {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.playedcardsgroup__playedBy > span {
  background-color: white;
  font-weight: bold;
  font-size: 12px;
  width: 100px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  user-select: none;
  z-index: 10 !important;
  position: relative;
  align-self: center;
}
